@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');


.bungee-regular {
  font-family: "Bungee", sans-serif;
  font-weight: 200;
  font-size: 20px;
  font-style: normal;
}

.archivo-font{
  font-family: "Archivo", sans-serif;
  font-size: large;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}

.fjalla-one-regular {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* .bad_notifications{
  text-shadow: 1px 1px  rgba(255, 255, 255);
  
} */

/* Se necesitan media Queries para el responsive  */
/* resolucion 768px*/

.flotante-encuesta{
  position: fixed;
  bottom: 10px;
  right: 10px;
}