@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');


body{
  /* background-image: url('/img/background.jpg'); */
  background-color: rgb(220, 220, 220);

}

.border-dashed{
  border: dashed 2px; 
  border-color: gray;
}


.league-spartan {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.oxygen-regular {
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.bbh-sans-bogle-regular {
  font-family: "BBH Sans Bogle", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.cascadia-code {
  font-family: "Cascadia Code", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-size: 15px;
  font-style: normal;
}



.bree-serif-regular {
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-size: 15px;
  font-style: normal;
}

.zalando{
  font-family: "Zalando Sans SemiExpanded", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-size: 17px;
  font-style: normal;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
}

.bungee-regular {
  font-family: "Bungee", sans-serif;
  font-weight: 200;
  font-size: 20px;
  font-style: normal;
}

.archivo-font{
  font-family: "Archivo", sans-serif;
  font-size: large;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}

.fjalla-one-regular {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.indicador-container{
  max-height: 1000px;
  overflow-y: auto;
}

/* .bad_notifications{
  text-shadow: 1px 1px  rgba(255, 255, 255);
  
} */

/* Se necesitan media Queries para el responsive  */
/* resolucion 768px*/

.flotante{
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 10px;
  font-size: 10px;

}

.flotante2{
  position: fixed;
  bottom: 10px;
  left: 10px;
  padding: 10px;
  font-size: 10px;

}



.zoom_link{
    transition: transform 0.2s ease;
  }
  
.zoom_link:hover{
    background-color: rgb(1, 67, 121);
    transform: scale(1.05);

  }
  
.link_selected{
    background-color: rgb(1, 67, 121);

  }




  .zoom_link_lectura{
    background-color: rgb(18, 18, 18);
    transform: scale(1.05);
  }

  .zoom_link_lectura:hover{
        background-color: rgb(86, 83, 83);
  }


  .link_selected_lectura{
    background-color: rgb(96, 96, 96);

  }


  .zoom{
    transition: transform 0.2s ease;
    cursor: pointer;
  }

  .zoom:hover{
    transform: scale(1.05);
  }


.tab-pane.fade.show {
  animation: fadeSlide 0.25s ease;
}

@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateY(4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



.fab-container {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1050;
}

/* BOTÓN PRINCIPAL */
.fab-main {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: #0d6efd;
  color: white;
  border: none;
  font-size: 22px;
  box-shadow: 0 8px 25px rgba(0,0,0,.3);
  transition: transform .4s ease;
}



/* ROTACIÓN AL ABRIR */
.fab-container.active .fab-main {
  transform: rotate(45deg);
}

/* CONTENEDOR DE ACCIONES */
.fab-actions {
  position: absolute;
  bottom: 70px;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  pointer-events: none;
}

/* BOTONES OCULTOS */
.fab-btn {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 10px 16px;
  color: white;
  border: none;
  opacity: 0;
  transform: translateY(20px) scale(0.8);
  transition: all .35s ease;
  box-shadow: 0 5px 15px rgba(0,0,0,.25);
}

/* MOSTRAR */
.fab-container.active .fab-btn {
  opacity: 1;
  transform: translateY(0) scale(1);
  pointer-events: auto;
}

/* ETIQUETA */
.fab-btn span {
  font-size: 13px;
  white-space: nowrap;
}

/* COLOR EXTRA */
.bg-purple {
  background: #6f42c1;
}



.nav-tabs .nav-link.active {
    background-color: var(--mdb-primary) !important;
    color: #fff !important;
    border-color: var(--mdb-primary) !important;
}

.nav-tabs .nav-link {
    color: var(--mdb-primary);
}

.nav-tabs .nav-link:hover {
    color: var(--mdb-primary);
}
