@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');


body{
  /* background-image: url('/img/background.jpg'); */
  background-color: rgb(236, 236, 236);
}

.league-spartan {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.oxygen-regular {
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.bbh-sans-bogle-regular {
  font-family: "BBH Sans Bogle", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.cascadia-code {
  font-family: "Cascadia Code", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-size: 15px;
  font-style: normal;
}



.bree-serif-regular {
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
}

.zalando{
  font-family: "Zalando Sans SemiExpanded", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-size: 17px;
  font-style: normal;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
}

.bungee-regular {
  font-family: "Bungee", sans-serif;
  font-weight: 200;
  font-size: 20px;
  font-style: normal;
}

.archivo-font{
  font-family: "Archivo", sans-serif;
  font-size: large;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}

.fjalla-one-regular {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* .bad_notifications{
  text-shadow: 1px 1px  rgba(255, 255, 255);
  
} */

/* Se necesitan media Queries para el responsive  */
/* resolucion 768px*/

.flotante{
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 10px;
  font-size: 10px;
  border-radius: 100px;
}



.zoom_link{
    transition: transform 0.2s ease;
  }
  
.zoom_link:hover{
    background-color: rgb(1, 67, 121);
    transform: scale(1.05);
    border-radius: 50px;
  }
  
.link_selected{
    background-color: rgb(1, 67, 121);
    border-radius: 50px;
  }